@font-face {
    font-family: '가나초콜렛';
    src: url('../../../assets/fonts/Ghanachocolate.ttf') format('truetype');
}

@font-face {
    font-family: '롯데마트드림';
    src: url('../../../assets/fonts/12롯데마트드림Light.ttf') format('truetype');
}

@font-face {
    font-family: '롯데마트행복';
    src: url('../../../assets/fonts/12롯데마트행복Bold.ttf') format('truetype');
}

@font-face {
    font-family: '경기천년바탕';
    src: url('../../../assets/fonts/경기천년바탕_Regular.ttf') format('truetype');
}

@font-face {
    font-family: '넷마블 Bold';
    src: url('../../../assets/fonts/netmarbleB.ttf') format('truetype');
}

@font-face {
    font-family: '나눔코딩 Bold';
    src: url('../../../assets/fonts/NanumGothicCoding-Bold.ttf') format('truetype');
}

@font-face {
    font-family: '62470';
    src: url('../../../assets/fonts/62570.ttf') format('truetype');
}

:root {
    --gap: 24px;
    --content-gap: 20px;
    --nav-width: 1024px;
    --main-width: 720px;
    --header-height: 60px;
    --footer-height: 60px;
    --radius: 8px;
    --theme: #fff;
    --entry: #fff;
    --primary: rgba(0, 0, 0, 0.88);
    --secondary: rgba(0, 0, 0, 0.56);
    --tertiary: rgba(0, 0, 0, 0.16);
    --content: rgba(0, 0, 0, 0.88);
    --hljs-bg: #1c1d21;
    --code-bg: #f5f5f5;
    --border: #eee;
}

.dark {
    --theme: #1d1e20;
    --entry: #2e2e33;
    --primary: rgba(255, 255, 255, 0.84);
    --secondary: rgba(255, 255, 255, 0.56);
    --tertiary: rgba(255, 255, 255, 0.16);
    --content: rgba(255, 255, 255, 0.74);
    --hljs-bg: #2e2e33;
    --code-bg: #37383e;
    --border: #333;
}

.list {
    background: var(--code-bg);
}

.dark.list {
    background: var(--theme);
}
