<article class="profileWrap">
    {{ $baseurl := .Site.BaseURL }}
    <a href="{{ $baseurl }}/profile" class="profileEunbi">
        <img class="profileImage" src=/images/profile/profile_eunbi.png alt=profile />
        <p class="profileName">은비</p>
        <p class="profileText">Hyun Eunbi</p>
    </a>

    <a href="{{ $baseurl }}/profile" class="profileHyeonseok">
        <img class="profileImage" src=/images/profile/profile_hyeonsuk.png alt=profile />
        <p class="profileName">현석</p>
        <p class="profileText">Chae Hyeonseok</p>
    </a>

    <a href="{{ $baseurl }}/profile" class="profilejooheon">
        <img class="profileImage" src=/images/profile/profile_juheon.png alt=profile />
        <p class="profileName">주헌</p>
        <p class="profileText">Baek Jooheon</p>
    </a>
</article>