.container {
    margin-top: 60px;
    margin-left: 10px;
}

.wrap {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-top: 15px;
    margin-bottom: 60px;
}

.titleWrap {
    font-weight: bold;
    font-size: 20px;
    display: flex;
    flex-direction: column;
    justify-items: center;
    margin-bottom: 15px;
}

.categoiresImage {
    font-weight: bold;
    position: absolute;
    color: #ffc926;
    margin-left: 10px;
    margin-top: 2px;
}

.title {
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-weight: bold;
    font-size: 23px;
    color: #383838;
    border-radius: 8px;
    margin-left: 30px;
}

.line {
    height: 2px;
    width: 800px;
    margin: 10px 0px 20px 10px;
    background: linear-gradient( to left, #ffe626, #ffc926 );
}

.categoriesTag {
    margin: 0px 8px 0px 10px;
    border: solid 2px #c9c9c9;
    padding: 5px 20px;
    border-radius: 120px;
    color: #c9c9c9;
}

a.categoriesTag:hover {
    color: #ffe626;
    border: solid 2px #ffe626;
}